<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="{{ base_path }}/css/main.css">
		<link rel="stylesheet" type="text/css" href="{{ base_path }}/css/post.css">
		<link rel="stylesheet" type="text/css" href="{{ base_path }}/css/highlight.css">
	</head>

	<body id="{{ slug }}">
		<div class="pagecontents">
			<nav>
				<div class="navbar">
					<a href="/">home</a>
					<a href="/blog/">blog</a>
					<a href="/blog/lisp/">lisp</a>
					<a href="/favorites/">favorites</a>
					<a href="/excollege/">my class</a>
					<a href="/pl-resources/">pl resources</a>
					<!--<a class="newlink" href="/recipes/">recipes</a> -->
				</div>
			</nav>
			<div class="container">
				{{ content }}
			</div>
			<footer>
				<hr>
				This blog is <a href="https://github.com/tekknolagi/tekknolagi.github.com">open source</a>.
				See an error? Go ahead and
				<a href="https://github.com/tekknolagi/tekknolagi.github.com">propose a change</a>.
			</footer>
		</div>
	</body>
</html>
